*.npy
!gaia_bp_inverse_atmosphere_paranal_precisionGrid_flux_coords_extended.npy
!gaia_rp_inverse_atmosphere_paranal_precisionGrid_flux_coords_extended.npy
!gaia_g_inverse_atmosphere_paranal_precisionGrid_flux_coords_extended.npy
!gaia_bp_inverse_atmosphere_paranal_precisionGrid_flux_data_extended.npy
!gaia_rp_inverse_atmosphere_paranal_precisionGrid_flux_data_extended.npy
!gaia_g_inverse_atmosphere_paranal_precisionGrid_flux_data_extended.npy
!gaia_bp_inverse_atmosphere_paranal_precisionGrid_radiance_coords_extended.npy
!gaia_rp_inverse_atmosphere_paranal_precisionGrid_radiance_coords_extended.npy
!gaia_g_inverse_atmosphere_paranal_precisionGrid_radiance_coords_extended.npy
!gaia_bp_inverse_atmosphere_paranal_precisionGrid_radiance_data_extended.npy
!gaia_rp_inverse_atmosphere_paranal_precisionGrid_radiance_data_extended.npy
!gaia_g_inverse_atmosphere_paranal_precisionGrid_radiance_data_extended.npy